@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Swiper Slider === */
.swiper-er-button-disabled,
.swiper-rts-button-disabled {
  @apply bg-green-slimy/50 pointer-events-none;
}

.swiper-er-pagination .swiper-pagination-bullet {
  @apply w-1.5 h-1.5;
}

.swiper-er-pagination .swiper-pagination-bullet-active {
  @apply bg-green-slimy;
}


.input-hide_Arrows::-webkit-outer-spin-button,
.input-hide_Arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-hide_Arrows[type=number] {
  -moz-appearance: textfield;
}
